{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "commonjs": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "generators": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "import",
    "jsx-a11y",
    "react"
  ],
  "extends": [
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ]
}
